<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4" role="banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3">
        <h1 class="site-logo">
          <a href="/">Your Story is Our Story<span class="text-primary">.</span> </a>
        </h1>
      </div>
      <div class="col-9">
        <nav
          class="site-navigation position-relative text-right text-md-right"
          role="navigation"
        >
          <div class="d-block d-lg-none ml-md-0 mr-auto">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"
              ><span class="icon-menu h3"></span
            ></a>
          </div>

          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="<%= (path === '/') ? 'active' : '' %>">
              <a href="/">Home</a>
            </li>
            <li class="<%= (path === '/about') ? 'active' : '' %>">
              <a href="/about">About</a>
            </li>
            <li class="<%= (path === '/contact') ? 'active' : '' %>">
              <a href="/contact">Contact</a>
            </li>

            <% if(!isAuthenticated) { %>
            <li class="<%= (path=== '/login') ? 'active' : '' %>">
              <a href="/login">Login</a>
            </li>
            <li class="<%= (path=== '/signup') ? 'active' : '' %>">
              <a href="/signup">SignUp</a>
            </li>
            <% } else { %>

            <li class="<%= (path=== '/dashboard') ? 'active' : '' %>">
              <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
