<%- include('../includes/head.ejs') %>
</head>
<body>
  
  <div class="site-wrap">
    <%- include('../includes/nav.ejs') %>


      <div
        class="site-blocks-cover overlay inner-page-cover"
        style="background-image: url(/images/hero_bg_1.jpg);"
        data-aos="fade"
        data-stellar-background-ratio="0.5"
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <h1 class="text-white">Contact Us</h1>
              <a href="#">Home</a><span class="mx-2 text-white">&bullet;</span>
              <span class="text-white">Contact</span>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-7 mb-5">
              <% if(errorMessage) { %>
              
                  <h3 class="text-warning"><%= errorMessage %></h3>

             <% } %>
              <form action="/contact" method="post" class="bg-white" novalidate>
                <div class="">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_fname" class="text-black"
                        >First Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="<%= validationErrors.find(e => e.param === 'fname') ? 'form-control invalid' : 'form-control' %>"
                        id="fname"
                        name="fname"
                        value="<%= oldInput.firstName %>"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="c_lname" class="text-black"
                        >Last Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="<%= validationErrors.find(e => e.param === 'lname') ? 'form-control invalid' : 'form-control' %>"
                        id="lname"
                        name="lname"
                        value="<%= oldInput.lastName %>"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_email" class="text-black"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="<%= validationErrors.find(e => e.param === 'email') ? 'form-control invalid' : 'form-control' %>"
                        id="email"
                        name="email"
                        placeholder=""
                        value ="<%= oldInput.email %>"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_subject" class="text-black">Subject </label>
                      <input
                        type="text"
                        class="<%= validationErrors.find(e => e.param === 'subject') ? 'form-control invalid' : 'form-control' %>"
                        id="subject"
                        name="subject"
                        value ="<%= oldInput.subject %>"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_message" class="text-black">Message </label>
                      <textarea
                        name="message"
                        id="message"
                        cols="30"
                        rows="7"
                        class="<%= validationErrors.find(e => e.param === 'message') ? 'form-control invalid' : 'form-control' %>"
                      ><%= oldInput.message %></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="form-group row">
                    <div class="col-lg-12">
                      <!-- <input
                        type="submit"
                        class="btn btn-primary btn-lg"
                        value="Send Message"
                      /> -->
                      <button type="submit" class="btn btn-primary btn-lg">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-5">
              <div class="p-4 mb-3 bg-white">
                <p class="mb-0">Address</p>
                <p class="mb-4">
                  Janakpur, Nepal
                </p>

                <p class="mb-0">Phone</p>
                <p class="mb-4"><a href="#">+9779817833401</a></p>

                <p class="mb-0">Email Address</p>
                <p class="mb-4"><a href="#">irahulsah306@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('../includes/subscribe.ejs') %>

    <%- include('../includes/footer.ejs') %>
  </div>

 <%- include('../includes/scripts.ejs') %>
<%- include('../includes/end.ejs') %>